@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model AspNetCoreApplicationParts.ModuleA.ViewModels.SomeViewModel
<h1>Hello from Module A!</h1>
<p>@Model.Text</p>